{% extends '_blocks/base.html.twig' %}
{% block title %}
	{% if page_title is defined %}
	<title>{{ page_title }}</title>
	{% endif %}
{% endblock title %}
{% block layout %}
<img class="bg" src="{{ site_url('assets/images/bg3.png') }}" alt="bg" />
{% if session['member'] != false %}
<div id="main-wrapper">
{% else %}
<div id="splash-wrapper">
{% endif %}
	<div class="clearfix">
		<div class="row">
			<div class="col_36" id="header">
			{% if session['member'] != false %}
				<div class="float-left">
					<div class="float-left">
						<a href="{{ site_url('splash') }}" style="text-decoration: none;">
						<img src="{{ site_url('assets/images/MOC_title_small.png') }}" alt="Minds of Chimera logo" /></a>
					</div>
					<div class="float-left" style="color: #534E4D; margin-top: 17px; padding-left: 5px;"><b>BETA</b></div>
				</div>
			{% else %}
				<div class="outer-center">
					<div class="inner-center">
						<div class="float-left">
							<a href="http://www.eecs.ucf.edu/isuelab/"><img src="{{ site_url('assets/images/isue_logo_sword.png') }}" alt="ISUE logo" /></a>
						</div>
						<div class="float-left" style="padding-top: 10px;">
							<a href="{{ site_url() }}" style="text-decoration: none;"><img src="{{ site_url('assets/images/MOC_title.png') }}" /></a>
							<span><b>BETA</b></span>
							<p><h3 class="caribbean center">A &nbsp;Serious  Game  World  in  MineCraft</h3></p>
						</div>
					</div>
				</div>
			{% endif %}
			{% if session['member'] != false %}
				<div id="all-logintabs">
					<div class="notification-container">
						<div id="notification-count">
						{% if session['notifyCount'] is defined %}
							{% if session['notifyCount'] > 0 %}
								{{ session['notifyCount'] }}
							{% endif %}
						{% endif %}
						</div>
						<a id="notify-sign" style="margin-right: 10px;">
						<img src="{{ site_url('assets/images/notifications.png') }}" alt="notifications_icon" width="30" height="30" /></a>
						{% if session['notifyList'] is defined %}
						<div id="notification-list">
							<h2>Notifications</h2>
							<div class="lb lb-bottom"></div>
							{% if session['notifyList'] is defined %}
								{{ notification_view }}
							{% endif %}
						</div>
						{% endif %}
					</div>
					<div id="profile_welcome_container">
						<a href="{{ site_url('profile/' ~ session['member']) }}" style="margin-right: 5px;">
						<img src="{% if session['profile_img_src_small'] is defined %} {{ session['profile_img_src_small'] }}{% else %}{{ site_url('assets/images/profile/steve_avatar_icon.png') }}{% endif %}" alt="profile icon" width="28" height="28" /></a>
						<a href="{{ site_url('profile/' ~ session['member']) }}"><b>{{ session['member']|capitalize }}</b></a>
						<span style="padding-left: 5px; padding-right: 5px;">|</span>
						<a href="{{ site_url() }}">The World</a>
						<span style="padding-left: 5px; padding-right: 5px;">|</span>
						<a class="trigger_dropdown_links"><img src="{{ site_url('assets/images/gear.png') }}" alt="down arrow" style="margin-left: 5px;" /></a>
						<div id="profile_dropdown_container">
							<div class="half_arrow"></div>
							<div id="profile_dropdown_links">
								<ul><li class="main_links"><a href="{{ site_url('settings') }}">Account Settings</a></li>
								<li style="border-bottom: 1px solid #ccc;"></li>
								<li class="main_links"><a href="{{ site_url('logout') }}" id="logout">Logout</a></li></ul>
							</div>
						</div>
					</div>
				</div>
		{% endif %}
		</div>
	</div>
	<div class="clearfix">
		<div class="row">
			<div class="col_36">
			{% include 'menus/menu.html.twig' %}
			</div>
		</div>
	</div>
	<div id="content">
		<div class="clearfix">
			<div class="row">
			
				{# Determine if two columns or one column layout #}
				{% if layoutType == "two_cols" %}
				<div class="col_23">
					{{ content }}
				</div>
				<div class="col_13">
					{{ sidebar }}
				</div>
				{% else %}
				<div class="col_36">
					{{ content }}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% include '_blocks/footer.html.twig' %}
	<div class="clearfix">
		<div class="row">
			<div class="col_36">
				{% block footer %}{% endblock footer %}
			</div>
		</div>
	</div>
</div>
{% endblock layout %}	
