<nav>
	<ul class="topnav">
		<li class="toplink">
			<a>Chimera</a>
			<ul class="subnav">
				<li><a href="{{ site_url('story') }}">The Story</a></li>
				{% if session['member'] != false %}
				<li><a href="{{ site_url('quests') }}">Quests</a></li>
				{% endif %}
				<li><a href="{{ site_url('quest_guides') }}">Quest Guides</a></li>
				<li><a href="{{ site_url('plugin_info') }}">Plugins</a></li>
				<li><a href="{{ site_url('rules') }}">Game Rules</a></li>
			</ul>
		</li>
		<li class="toplink">
			<a>Members</a>
			<ul class="subnav">
				<!--<li><a href="{{ site_url('all_users/members') }}">View All Users</a></li>-->
				{% if session['member'] != false %}
				<li><a href="{{ site_url('mocrater') }}">Patterns</a></li>
				{% endif %}
				<li><a href="{{ site_url('community_projects') }}">Community Projects</a></li>
				<li><a href="{{ site_url('mumble_help') }}">Mumble Help</a></li>
				<!--<li><a href="{{ site_url('suggestions') }}">Suggestions</a></li>-->
			</ul>
		</li>
		<li class="toplink">
			<a>Help</a>
			<ul class="subnav">
				<li><a href="{{ site_url('installation') }}">Installation</a></li>
				<li><a href="{{ site_url('learn') }}">Learn to Play</a></li>
				<li><a href="{{ site_url('faq') }}">FAQ</a></li>
				<li><a href="{{ site_url('commands') }}">Commands</a></li>
			</ul>
		</li>
		<li class="toplink">
			<a>About</a>
			<ul class="subnav">
				<li><a href="{{ site_url('research') }}">Our Research</a></li>
				<li><a href="{{ site_url('about') }}">About Us</a></li>
			</ul>
		</li>
    </ul>
</nav>
