* { padding: 0; margin: 0; }


input.button { 
	margin: 1px 0; 
	font: bold 1em Arial, Sans-serif;
	padding: 1px 3px; 
	color: #333;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');

}
input.button:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
input.button:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.tbox {position:absolute; display:none; padding:14px 17px; z-index:900;}
.tinner {padding:10px; background:#fff url('../assets/images/loading.gif') no-repeat 50% 50%;  border:10px solid #e3e3e3;}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:10px; right:0px; width:30px; height:30px; cursor:pointer; background:url('../assets/images/close.png') no-repeat}

input[type="submit"] {
	width: auto !important;
	color: white;
	text-transform: uppercase;
	border: 1px solid #8C1E1A;
	background: #B80B13;
	padding: 5px 7px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
