/*#############################################################
Name: Minds of Chimera
Date: 03-04-2012
Description: CSS Layout
Author: Ross Arena
#############################################################*/

@import 'mixins.less';

.convo-faces {
	width: 60px;
}

.convo-face-image {
  width: 75px; 
  height: 75px; 
  margin-right: 5px;
}

.convo-says-textarea {
	width: 92%; 
	resize: none; 
	height: 80px; 
	margin-right: 10px;
}

.convo-faces-top {
	position: relative; 
	z-index: 2; 
	margin-top: 20px; 
	background-color: white;
}

#js-add-resp {
  width: 348px;
}

.arrow-linked {
  position: relative;
  width: 39px;
  height: 39px;
  background-image: url("/assets/images/arrow-linked.png");
  right: 6px;
  opacity: 0.4;
  cursor: pointer;
}

.arrow-linked-current {
  position: relative;
  width: 39px;
  height: 39px;
  background-image: url("/assets/images/arrow-linked.png");
  right: 6px;
  cursor: pointer;
}

.arrow-link:hover {
  opacity: 10;
}

.arrow-unlinked {
  position: relative;
  width: 39px;
  height: 39px;
  background-image: url("/assets/images/arrow-unlinked.png");
  right: 6px;
  opacity: 0.4;
  cursor: pointer;
}

.arrow-unlinked:hover {
  opacity: 10;
}

.convo-sec {
	position: relative;
	float: left;
	border: 1px solid #ccc; 
	background-color: #F8F8F8; 
	padding: 10px; 
	width: 100%;
	box-sizing: border-box;
	margin-top: -2px;
	z-index: 2;
}

.convo-list-entity {
	border: 1px solid #ccc; 
	padding: 10px;
	margin-bottom: 5px;
}

#convos-container {
	border: 1px solid #ccc; 
	padding: 5px; 
	margin-top: 10px; 
	height: 400px; 
	overflow-y: scroll; 
	position: relative; 
	z-index: 100; 
	background-color: #F8F8F8;
}

.convo-faces-container {
	float: left;
}

.js-remove-resp {
	position: absolute;
	top: 0px;
	left: 0px;
	background: url("/assets/images/close.png") no-repeat;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.convo-entry-container {
  border: 1px solid gray;
  background-color: #fff;
}

.entry-options-container {
  margin-bottom: 10px;
}

.convo-entry-option {
  padding: 10px;
  display: block;
  position: relative;
  width: 345px;
  border: 2px dashed white;
  border-top: none;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #bbe;
  color: #000;
}

.convo-entry-option a {
  color: #000;
}

a.convo-entry-option:hover {
  color: #000;
  text-decoration: none;
}

.no-response-options {
  position: absolute;
  right: 0px;
  top: 0px;
  background: url("/assets/images/arrow-linked-back.png") no-repeat;
  width: 25px;
  height: 25px;
  z-index: 600;
}

a.optionlinked:hover {
  text-decoration: none;
}

.unjoinButton {
  position: relative;
  background: url("/assets/images/unlink.png") 0px 0px;
  width: 63px;
  height: 40px;
  left: 45%;
  line-height: 40px;
  text-shadow: 0px -1px 1px gray;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

a.small-dashed-box {
	text-decoration: none;
}

.small-dashed-box {
	padding: 5px;
	border: 1px dashed gray;
	margin: 2px;
}

.response {
	position: relative;
}

textarea.no-textarea-border {
  border: none;
}

textarea.no-textarea-border:hover, textarea.no-textarea-border:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.response-inner {
  float: left;
  padding-left: 20px;
  border: 1px solid #CCC;
}

.response-inner:hover {
  border: 1px solid #CCC;
}

