/* filename: default-style.css */

/*#############################################################
Name: Minds of Chimera
Date: 03-04-2012
Description: CSS Layout
Author: Ross Arena
#############################################################*/

@import 'mixins.less';

@font-face {
    font-family: JFRock;
    font-style: normal;
    font-weight: normal;
    src: url(/assets/fonts/JFRocSol.eot); /* IE */  
    src: url(/assets/fonts/JFRocSol.TTF) format("truetype"); /* non-IE */
}

@font-face {
    font-family: Caribbean;
    font-style: normal;
    font-weight: normal;
    src: url(/assets/fonts/Caribbean_Island.ttf) format("truetype"); /* non-IE */
}

/*---------------------------------------------------*/
/* Begin HTML tags */
/*---------------------------------------------------*/

a {
	color: #122061;
	text-decoration: none;
}

a:hover {
	color: #7E2217;
	cursor: pointer;
	text-decoration: underline;
}

a:focus, a:active
{
	outline: none;
	background: none;
	color: #7E2217;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.95em; /* 13px, 0.9em */
	font-weight: 400;
	text-align: left;
	color: black;
}

img.bg {
	width: 100%;
	height: 100%;
	min-width: 1024px;
	min-height: 700px;
	position: fixed;
	overflow: hidden !important;
	top: 0;
	left: 0;
}

form, br {
	clear: left;
	margin: 0;
	padding: 0;
}

ul, ol {
	margin-left: 35px;
}

ul.none, ol.none {
	margin: 0px;
	list-style-type: none;
}

li {
	list-style-type: disc;
}

textarea {
	background-color: #fff;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	border: 1px solid #B9B9B9;
}

input {
	font-size: 100%;
	border: 1px solid #B9B9B9;
	margin: 1px;
	padding: 5px;
}

input:hover, input:active, textarea:hover, textarea:active {
	border: 1px solid #848484;
	border-top: 1px solid #636363;
}

input:focus, textarea:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

input[type="file"] {
	border: none;
	cursor: pointer;
}

input[type="file"]:hover {
	cursor: pointer;
}

::-webkit-input-placeholder {
	color: #aaa;
}

:-moz-placeholder {
	color: #aaa;
}

:-ms-input-placeholder {
	color: #aaa;
}

.file-wrapper {
	position: relative;
}

#upload-gallery-img.button {
	background: #5aa801; /* Old browsers */
	background: -moz-linear-gradient(top, #5aa801 0%, #05760d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5aa801), color-stop(100%,#05760d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5aa801 0%,#05760d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5aa801 0%,#05760d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5aa801 0%,#05760d 100%); /* IE10+ */
	background: linear-gradient(top, #5aa801 0%,#05760d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aa801', endColorstr='#05760d',GradientType=0 ); /* IE6-9 */
	color: #fff;
	height: 30px;
	width: 100px;
	border: 0;
	-webkit-box-shadow: 0 1px 2px 
	rgba(0, 0, 0, 0.40);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.40);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.40);
	text-align: center;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding-top: 5px;
}

#register-form input {
	font-size: 18px;
	padding: 8px 10px;
}

#signup {
	width: 150px;
	color: #fff;
	background: #00c44e; /* Old browsers */
	background: -moz-linear-gradient(top,  #00c44e 0%, #1cbc34 27%, #14893d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c44e), color-stop(27%,#1cbc34), color-stop(100%,#14893d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c44e', endColorstr='#14893d',GradientType=0 ); /* IE6-9 */
}

#signup:hover {
	color: #fff;
	background: #14893d; /* Old browsers */
	background: -moz-linear-gradient(top,  #14893d 0%, #1cbc34 73%, #00c44e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14893d), color-stop(73%,#1cbc34), color-stop(100%,#00c44e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14893d', endColorstr='#00c44e',GradientType=0 ); /* IE6-9 */
}

#upload-gallery-img.button {
	background: #5aa801; /* Old browsers */
	background: -moz-linear-gradient(top, #5aa801 0%, #05760d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5aa801), color-stop(100%,#05760d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5aa801 0%,#05760d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5aa801 0%,#05760d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5aa801 0%,#05760d 100%); /* IE10+ */
	background: linear-gradient(top, #5aa801 0%,#05760d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aa801', endColorstr='#05760d',GradientType=0 ); /* IE6-9 */
	color: #fff;
	height: 30px;
	width: 100px;
	border: 0;
	-webkit-box-shadow: 0 1px 2px 
	rgba(0, 0, 0, 0.40);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.40);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.40);
	text-align: center;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding-top: 5px;
}

#upload-feed-photo {
	display: none;
	position: absolute;
}

#upload-feed-photo:hover {
	text-decoration: none;
}

.file-wrapper input {
	position: relative;
	cursor: default;
	filter: alpha(opacity=1);
	-moz-opacity: 0.01;
	opacity: 0.01;
	z-index: 900;
}

input[readonly]:focus, input[readonly]:hover {
	border: 0px;
	outline: none;
}

[disabled] {
	color: #555555 !important;
	background-color: #BBBBBB !important;
	border-color: #BBBBBB !important;
}

label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	float: left;
	color: #534E4D;
	padding-right: 5px;
	margin-bottom: 4px;
}

.no-underline {
	text-decoration: none;
}

.textarea-small {
	min-width: 335px;
	min-height: 30px;
	max-height: 30px;
	resize: none;
}

.textarea-medium {
	min-width: 335px;
	min-height: 50px;
	resize:vertical;
}

.textarea-noresize {
	resize: none !important;
}

.settings-label {
	color: #333;
}
ul.settings-list li span {
	float: left;
	width: 160px;
}
ul.settings-list li {
	list-style: none;
	margin-left: -15px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

ul.settings-list li:hover {
	background-color: #EEE;
}

ul.settings-list .edit {
	float: right;
}

ul.list li {
	list-style: none;
	margin-left: -15px;
	padding: 5px;
	cursor: pointer;
}

ul.list li:hover {
	background-color: #EEE;
}

ul.awardslist li {
	list-style: none;
	margin-left: -15px;
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
}

ul.awardslist li.completed {
	background-color: #F9F99F;
	border: 1px solid #000;
}

ul.awardslist li.incomplete {
	background-color: #D7EFEF;
	border: 1px solid gray;
}

.points-box {
	float: right;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
	color: #000;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

h1.jfrock {
	font: 40px JFRock;
	color: #534e4d;
	padding-bottom: 6px;
}

h1.jfrock_small {
	font: 32px JFRock;
	color: #534e4d;
	padding-bottom: 6px;
}

h2.jfrock {
	font: 18px JFRock;
	color: #534e4d;
}

h1.page_title {
	color: #000;
	border-bottom: 1px solid #B9B9B9;
}

h2.page_title {
	color: #000;
	border-bottom: 1px solid #B9B9B9;
}

h3.caribbean {
	font: 18px Caribbean;
	color: #000;
	padding-bottom: 10px;
}

textarea {
	background-color: white;
	padding: 5px;
	max-width: 500px;
	cursor: auto;
	overflow: auto;
	white-space: pre-wrap;
}

img {
	border: none; 
	height:auto;
}

ol {
	list-style-type: decimal;
}

/*---------------------------------------------------*/
/* End HTML tags */
/*---------------------------------------------------*/

/*---------------------------------------------------*/
/* Begin Default Classes & Id's */
/*---------------------------------------------------*/

#splash-wrapper {
	width: 1000px;
	position: relative;
	margin: 0px auto;
	overflow-x: hidden;
}

#main-wrapper {
	width: 1100px;
	position: relative;
	margin: 0px auto;
}

#bg {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	background-color: #abcaff; /* Old browsers */
	background: url('/assets/images/bg-top.png') no-repeat,
				url('/assets/images/bg-left.png') no-repeat,
				url('/assets/images/bg-right.png') no-repeat,
				url('/assets/images/bg-middle.png') repeat-x;
	background-position: top center, left bottom, right bottom, center bottom;
	background-size: 100% 51%, 25% 51%, 25% 51%, 100% 51%;
}

/* header */
#header {
  position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

#top-bar {
	margin-bottom: 5px;
	height: 42px;
	width: 100%;
	position: absolute;
}
#top-bar-inner {
	height: 42px;
	padding-top: 5px;
	position: relative;
	z-index: 998;
}

#go-top {
	display: none;
	background: url('/assets/images/go-top.png') no-repeat;
	background-position: 0px 0px;
	position: fixed;
	bottom: 40px;
	right: 20px;
	z-index: 999;
	width: 50px;
	height: 50px;
}

.arrow-up {
  .arrow-up();
}

#notification-count {
	color: #fff;
	position: absolute;
	left: 25px;
	top: 0px; 
	background-color: red;
	font-weight: bold;
}

.lb-bottom {
	margin-bottom: 3px;
}

.lb {
	border-bottom: 1px solid #B9B9B9;
}

.lb-dotted {
	border-bottom: 1px dotted #B9B9B9;
}

.height-100 {
  height: 100%;
}

.notification-container {
	position: relative;
	float: left;
	margin-right: 50px;
}

.edit-item-container {
	display: none;
	position: absolute; 
	top: 20px;
	right: 0px;
}

.edit-item-custom {
	position: relative;
	display: block;
	float: right;
	right: 10px;
}

.edit-photo-icon-container {
	position: absolute; 
	right: 0px;
	border: 1px solid #ccc;
	padding: 2px;
	width: 20px;
	height: 20px;
	background-color: #fff;

}
.edit-item-icon {
	background: url('/assets/images/pencil.png') no-repeat;
	width: 20px;
	height: 20px;
	float: left;
}
.edit-item-inner {
	background-color: #fff;
	position: relative;
	border: 1px solid #ccc;
	padding: 7px;
	top: 25px;
	width: 100px;
}

.post-author {
	float: left;
	padding-bottom: 3px;
}

#select-box {
	font-size:120%;
	z-index: 900;
}

#sidebar {
	width:100%;
}

.img-container {
	float: left;
	border: 1px solid #ccc;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #fff;
}
.gallery-img-container-inner {
	position: relative;
	background-color: #ddd;
	width: 206px;
	height: 206px;
}

.mocrater-img-container-inner {
	background-color: #ddd;
	width: 240px;
	height: 200px;
}

textarea.edit-pattern-textarea {
	min-width: 335px;
	max-width: 335px;
	min-height: 75px;
	max-height: 75px;
	resize: none;
}

.red {
	font-weight: bold;
}

.register-box{
	border-left: 2px solid #79553a;
	border-right: 2px solid #79553a;
	border-bottom: 2px solid #79553a;
}

.inner {
	margin-top: -15px;
	padding: 10px;
	background-color: white;
}
.center {
	text-align: center;
}

.outer-center{
	float: left;
    position: relative;
    left: 50%;
}

.inner-center{
	float: left;
    position:relative;
    left: -50%;
}

.social {
	border: #DEDEDE solid 1px;
	padding: 10px;
	width: 225px;
}
.social label {
	font-size: 11px;
	padding-left: 5px;
	padding-right: 5px;
	
}
.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}
.right-round {
	border-top-right-radius:10px;
	-moz-top-radius-bottomright:10px;
	-webkit-border-top-right-radius:10px;
}
.disabled-container {
	color: #555555;
	padding: 5px;
	background-color: #DDD;
	border-color: #DDD;
}
.post-options {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
}
.dim {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: url('/assets/images/dim.png');
	display: none;
	text-align: left;
}

.msgbox {
	position: fixed;
	margin: 0 auto;
	width: 300px;
	padding: 10px;
	height: 200px;
	z-index: 999;
	border: 5px solid #222;
	background: white;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
}


/*******************/
/***** Buttons *****/ 

.button (@bgColorNormal: #4479BA, @bgColorHover: #356094, @bgColorActive: #2E5481, @fontColor: #FFF) {
  padding: 5px 18px;
  background: @bgColorNormal;
  font-weight: bold;
  color: @fontColor;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  
  &:hover {
	background: @bgColorHover;
	color: @fontColor;
	border: solid 1px #2A4E77;
	text-decoration: none;
  }
  
  &:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background: @bgColorActive;
	border: solid 1px #203E;
	color: @fontColor;
  }
}

.gradient-button (@bgStartColor: #4479BA, @bgEndColor: #356094, @fontColor: #FFF) {
  
  padding: 5px 18px;
  background-color: @bgStartColor;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top,@bgStartColor 0,@bgEndColor 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,@bgStartColor),color-stop(100%,@bgEndColor));
  background-image: -webkit-linear-gradient(top,@bgStartColor 0,@bgEndColor 100%);
  background-image: -ms-linear-gradient(top,@bgStartColor 0,@bgEndColor 100%);
  background-image: -o-linear-gradient(top,@bgStartColor 0,@bgEndColor 100%);
  background-image: linear-gradient(top,@bgStartColor 0,@bgEndColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@bgStartColor,endColorstr=@bgEndColor,GradientType=0);
  
  font-weight: bold;
  color: @fontColor;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  
  &:hover {
    background-color: @bgEndColor;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top,@bgEndColor 0,@bgStartColor 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,@bgEndColor),color-stop(100%,@bgStartColor));
    background-image: -webkit-linear-gradient(top,@bgEndColor 0,@bgStartColor 100%);
    background-image: -ms-linear-gradient(top,@bgEndColor 0,@bgStartColor 100%);
    background-image: -o-linear-gradient(top,@bgEndColor 0,@bgStartColor 100%);
    background-image: linear-gradient(top,@bgEndColor 0,@bgStartColor 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@bgEndColor,endColorstr=@bgStartColor,GradientType=0);
    color: @fontColor;
    border: solid 1px #2A4E77;
    text-decoration: none;
  }
  
  &:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    color: @fontColor;
  }
}

input[type="submit"], input[type="button"], button, .button {
	.button();
}


a.signup-btn {
	.gradient-button(#FEE94F, #FD9A0F, #000);
}

.create, input[type="submit"].create {
  
  //.gradient-button(#1cbc34, #14893d, #FFF);
	color: #fff;
	background: #00c44e; /* Old browsers */
	background: -moz-linear-gradient(top,  #00c44e 0%, #1cbc34 27%, #14893d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c44e), color-stop(27%,#1cbc34), color-stop(100%,#14893d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00c44e 0%,#1cbc34 27%,#14893d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c44e', endColorstr='#14893d',GradientType=0 ); /* IE6-9 */
}

.create:hover, input[type="submit"].create:hover {
	color: #fff;
	background: #14893d; /* Old browsers */
	background: -moz-linear-gradient(top,  #14893d 0%, #1cbc34 73%, #00c44e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14893d), color-stop(73%,#1cbc34), color-stop(100%,#00c44e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #14893d 0%,#1cbc34 73%,#00c44e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14893d', endColorstr='#00c44e',GradientType=0 ); /* IE6-9 */
}

/*******************/

.chars-left {
	color: brown;
	padding-bottom: 15px;
}

#fullsize-map {
	position: fixed;
	
}
#mapbox {
	position: relative;
	top: 5px;
	margin: 0 auto;
	display: block;
	width: 97%;
	padding: 0px;
	height: 97%;
	border: 5px solid #222;
	z-index: 998;
}

.register_container {
	position: relative;
	z-index: 900;
	width: auto;
}

label.register_label {
	font-weight: bold;
	float: left;
	width: 80px;
	text-align: right;
	padding-right: 5px;
}

#profile_welcome_container {
	float: left;
	position: relative;
	width: auto;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.half_arrow {
	position: relative;
	background: url('/assets/images/half_arrow.png') no-repeat top right;
	background-color: none;
	width: 100%;
	height: 10px;
	z-index: 998;
}

div.half_block {
	width: 20px;
	height: 8px;
	z-index: 998;
}

#profile_dropdown_container {
	position: absolute; 
	width: 119px; 
	right: 0px;
	display: none;
}

#profile_dropdown_links {
	text-align: left;
	background: #fff;
	margin-top: -1px;
	padding: 10px;
	width: 120px;
	z-index: 901;
	position: absolute;
	right: 0px;
	border: 1px solid #ccc;
	-moz-box-shadow: -4px 10px 10px -6px #888;
	-o-box-shadow: -4px 10px 10px -6px #888;
	-webkit-box-shadow: -4px 10px 10px -6px #888;
	box-shadow: -4px 10px 10px -6px #888;
}

#profile_dropdown_links ul {
	list-style: none;
	margin: 0px;
}
#profile_dropdown_links ul li {
	list-style: none;
}

#profile_dropdown_links ul li.main_links {
	list-style: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

#pig {
	postion: absolute; 
	margin-top: -22px; 
	margin-left: 400px; 
	float: left;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#all-users {
	min-height: 564px;
}

#fixed_feed {

}

nav {
	float: left;
	background-color: #ccc;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 2%, rgba(50,50,50,0.3) 4%, rgba(44,44,44,0.81) 6%, rgba(38,38,38,0.96) 8%, rgba(32,32,32,1) 10%, rgba(40,40,40,1) 12%, rgba(31,31,31,1) 17%, rgba(39,39,39,1) 19%, rgba(30,30,30,1) 25%, rgba(36,36,36,1) 27%, rgba(28,28,28,1) 33%, rgba(35,35,35,1) 35%, rgba(26,26,26,1) 40%, rgba(32,32,32,1) 42%, rgba(31,31,31,1) 44%, rgba(23,23,23,1) 48%, rgba(31,31,31,1) 50%, rgba(21,21,21,1) 56%, rgba(28,28,28,1) 58%, rgba(23,23,23,1) 62%, rgba(18,18,18,1) 63%, rgba(26,26,26,1) 65%, rgba(17,17,17,1) 71%, rgba(24,24,24,1) 73%, rgba(15,15,15,1) 79%, rgba(23,23,23,1) 81%, rgba(13,13,13,1) 87%, rgba(20,20,20,1) 88%, rgba(13,13,13,1) 94%, rgba(24,24,24,1) 96%, rgba(10,10,10,1) 98%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(2%,rgba(0,0,0,0)), color-stop(4%,rgba(50,50,50,0.3)), color-stop(6%,rgba(44,44,44,0.81)), color-stop(8%,rgba(38,38,38,0.96)), color-stop(10%,rgba(32,32,32,1)), color-stop(12%,rgba(40,40,40,1)), color-stop(17%,rgba(31,31,31,1)), color-stop(19%,rgba(39,39,39,1)), color-stop(25%,rgba(30,30,30,1)), color-stop(27%,rgba(36,36,36,1)), color-stop(33%,rgba(28,28,28,1)), color-stop(35%,rgba(35,35,35,1)), color-stop(40%,rgba(26,26,26,1)), color-stop(42%,rgba(32,32,32,1)), color-stop(44%,rgba(31,31,31,1)), color-stop(48%,rgba(23,23,23,1)), color-stop(50%,rgba(31,31,31,1)), color-stop(56%,rgba(21,21,21,1)), color-stop(58%,rgba(28,28,28,1)), color-stop(62%,rgba(23,23,23,1)), color-stop(63%,rgba(18,18,18,1)), color-stop(65%,rgba(26,26,26,1)), color-stop(71%,rgba(17,17,17,1)), color-stop(73%,rgba(24,24,24,1)), color-stop(79%,rgba(15,15,15,1)), color-stop(81%,rgba(23,23,23,1)), color-stop(87%,rgba(13,13,13,1)), color-stop(88%,rgba(20,20,20,1)), color-stop(94%,rgba(13,13,13,1)), color-stop(96%,rgba(24,24,24,1)), color-stop(98%,rgba(10,10,10,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(50,50,50,0.3) 4%,rgba(44,44,44,0.81) 6%,rgba(38,38,38,0.96) 8%,rgba(32,32,32,1) 10%,rgba(40,40,40,1) 12%,rgba(31,31,31,1) 17%,rgba(39,39,39,1) 19%,rgba(30,30,30,1) 25%,rgba(36,36,36,1) 27%,rgba(28,28,28,1) 33%,rgba(35,35,35,1) 35%,rgba(26,26,26,1) 40%,rgba(32,32,32,1) 42%,rgba(31,31,31,1) 44%,rgba(23,23,23,1) 48%,rgba(31,31,31,1) 50%,rgba(21,21,21,1) 56%,rgba(28,28,28,1) 58%,rgba(23,23,23,1) 62%,rgba(18,18,18,1) 63%,rgba(26,26,26,1) 65%,rgba(17,17,17,1) 71%,rgba(24,24,24,1) 73%,rgba(15,15,15,1) 79%,rgba(23,23,23,1) 81%,rgba(13,13,13,1) 87%,rgba(20,20,20,1) 88%,rgba(13,13,13,1) 94%,rgba(24,24,24,1) 96%,rgba(10,10,10,1) 98%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(50,50,50,0.3) 4%,rgba(44,44,44,0.81) 6%,rgba(38,38,38,0.96) 8%,rgba(32,32,32,1) 10%,rgba(40,40,40,1) 12%,rgba(31,31,31,1) 17%,rgba(39,39,39,1) 19%,rgba(30,30,30,1) 25%,rgba(36,36,36,1) 27%,rgba(28,28,28,1) 33%,rgba(35,35,35,1) 35%,rgba(26,26,26,1) 40%,rgba(32,32,32,1) 42%,rgba(31,31,31,1) 44%,rgba(23,23,23,1) 48%,rgba(31,31,31,1) 50%,rgba(21,21,21,1) 56%,rgba(28,28,28,1) 58%,rgba(23,23,23,1) 62%,rgba(18,18,18,1) 63%,rgba(26,26,26,1) 65%,rgba(17,17,17,1) 71%,rgba(24,24,24,1) 73%,rgba(15,15,15,1) 79%,rgba(23,23,23,1) 81%,rgba(13,13,13,1) 87%,rgba(20,20,20,1) 88%,rgba(13,13,13,1) 94%,rgba(24,24,24,1) 96%,rgba(10,10,10,1) 98%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(50,50,50,0.3) 4%,rgba(44,44,44,0.81) 6%,rgba(38,38,38,0.96) 8%,rgba(32,32,32,1) 10%,rgba(40,40,40,1) 12%,rgba(31,31,31,1) 17%,rgba(39,39,39,1) 19%,rgba(30,30,30,1) 25%,rgba(36,36,36,1) 27%,rgba(28,28,28,1) 33%,rgba(35,35,35,1) 35%,rgba(26,26,26,1) 40%,rgba(32,32,32,1) 42%,rgba(31,31,31,1) 44%,rgba(23,23,23,1) 48%,rgba(31,31,31,1) 50%,rgba(21,21,21,1) 56%,rgba(28,28,28,1) 58%,rgba(23,23,23,1) 62%,rgba(18,18,18,1) 63%,rgba(26,26,26,1) 65%,rgba(17,17,17,1) 71%,rgba(24,24,24,1) 73%,rgba(15,15,15,1) 79%,rgba(23,23,23,1) 81%,rgba(13,13,13,1) 87%,rgba(20,20,20,1) 88%,rgba(13,13,13,1) 94%,rgba(24,24,24,1) 96%,rgba(10,10,10,1) 98%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(50,50,50,0.3) 4%,rgba(44,44,44,0.81) 6%,rgba(38,38,38,0.96) 8%,rgba(32,32,32,1) 10%,rgba(40,40,40,1) 12%,rgba(31,31,31,1) 17%,rgba(39,39,39,1) 19%,rgba(30,30,30,1) 25%,rgba(36,36,36,1) 27%,rgba(28,28,28,1) 33%,rgba(35,35,35,1) 35%,rgba(26,26,26,1) 40%,rgba(32,32,32,1) 42%,rgba(31,31,31,1) 44%,rgba(23,23,23,1) 48%,rgba(31,31,31,1) 50%,rgba(21,21,21,1) 56%,rgba(28,28,28,1) 58%,rgba(23,23,23,1) 62%,rgba(18,18,18,1) 63%,rgba(26,26,26,1) 65%,rgba(17,17,17,1) 71%,rgba(24,24,24,1) 73%,rgba(15,15,15,1) 79%,rgba(23,23,23,1) 81%,rgba(13,13,13,1) 87%,rgba(20,20,20,1) 88%,rgba(13,13,13,1) 94%,rgba(24,24,24,1) 96%,rgba(10,10,10,1) 98%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	position:relative;
	width: 100%;
}

/***************
 * new topnav*/
/* common styling */
.topnav {
	float: left;
	font-family: arial, sans-serif; 
	position:relative; 
	padding:0; 
	margin:0;
	width: 100%;
	height: 45px;
	z-index: 800;
}

.topnav li a, .topnav ul li a:visited {
	display:block;
	text-decoration:none;
	color:#fff; 
	font-family: arial, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	padding: 5px; 
	list-style: none;
	overflow:visible;
}

.topnav li {
	float: left; 
	position: relative;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-right: 40px;
	list-style: none;
}
.switch {
	position: relative;
	width: 26px;
	height: 35px;
	overflow: auto;
	float: left;
	background: url('/assets/images/switch-off-bg.png') no-repeat;
}
.topnav li.toplink {
	margin-top: 7px;
}

.topnav li.toplink:first-child {
	margin-left: 20px;
}

.topnav li a:focus,
.topnav li a:active
{
	outline: none;
	color: #fff;
}
.topnav li.subnav {
	position: relative;
	text-align: left !important;
}
.subnav {
	position: absolute !important;
	margin: 0px;
	z-index: 500 !important;
	background-color: #333;
	padding-left: 5px !important;	
}
.topnav li:hover > .subnav{
	background-color: #333;
	z-index: 500;
}

.topnav li ul {
	display: none; 
	margin-top: 15px; 
	overflow: visible; 
}

.topnav li ul li {display: block; overflow: visible; width: 200px; position: relative; z-index: 500; text-align: left;}
/* specific to non IE browsers */
.topnav li:hover a { color:#fd0000; }
.topnav li:hover ul {display:block; position:absolute; top:20px; left:0;}
.topnav li:hover ul li a.hide {color:#fd0000;}
.topnav li:hover ul li:hover a.hide { color:#fd0000;}
.topnav li:hover ul li ul {display: none; background-color: #ccc;}
.topnav li:hover ul li a {display:block; color:#fff; background: none !important;}
.topnav li:hover ul li a:hover {color:#fd0000;}
.topnav li:hover ul li:hover ul {display:block; position:absolute; left:105px; top:0;}
.topnav li:hover ul li:hover ul.left {left:-105px;}
/********* end ***********/

/* footer */
#footer {
	background-color: #0d0d0d;
	color: #fff;
	font-weight: bold;
	position: relative;
	text-align: left;
	margin: 0px auto;
}

#footer-inner-top {
  background-color: #333333; //#2c2c2c;
  padding: 10px;
}

#footer-inner-bottom {
  padding: 10px;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	text-decoration: underline;
}

#inside-footer {
	text-align: left;
	margin: 0px auto;
}

/* User login */

.tab_container {
	position: relative;
	margin: 0 0 20px 0;
	background: #FAFAFA;
	border: 1px solid #3079ED;
	padding: 10px;
	z-index: 900;
	width: auto;
	float: right;
}

#all-logintabs {
	float: right;
}
.active {
	display: block;
}

.droplogin-box label {
	font-weight: bold;
} 

.f1-upload-process {
	display: none;
}
.success-box {
	padding: 5px;
	font-size: 0.9em;
	border-style: solid;
	border-width: 1px;
	border-color: #338800;
	background-color: #c7f7be;
	color: #000000;
}

.error-box {
	padding: 5px;
	margin-bottom: 5px;
	border-style: solid;
	font-size: 0.9em;
	border-width: 1px;
	border-color: #FF2200;
	background-color: #FFDDBB;
	color: #000000;
}

.required {
	color: red;
}

.warning-sign {
	height: 30px;
	background: url('/assets/images/warning-sign.jpg') no-repeat;
}

#content {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	padding: 20px 25px 40px;
	background-color: #fefefe;
}

#content div.post:last-child::after{
	border-bottom: none;
}
.pair {
	float: left;
}
.pair label
{
	float: left;
	font-family: Arial;
	font-weight: normal;
	font-size: 11px;
	color: #777;
}

.pair input {
	display:block;
}
.pair select {
	display: block;
	margin: 0px;
	padding: 0px;
}
.cell-space {
	margin-right: 50px;
}
.cell-space-10 {
	margin-right: 10px;
}
.table-header {
	padding: 10px;
	margin-bottom: 10px;
	width: 90%;
	background: whiteSmoke;
	border-bottom: 1px solid #CCC;
}
.sec-label {
	float: left;
	font-weight: bold;
	font-size: 11px;
}
.col-left {
	float: left;
	width: 200px;
	margin-bottom: 15px;
}
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.col-right {
	float: left;
	width: 300px;
	margin-bottom: 15px;
}

.width-100 {
	width: 100%;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.hypen {
	margin-right: 15px;
}
.required {
	color: red;
	font-size: 12px;
}

.upload_img_overlap {
	position: absolute;
	top: 0px;
	font-size: 11px;
	width: 120px;
	background: url('/assets/images/pencil.png') no-repeat center left;
	border: 1px solid #ccc;
	background-color: white;
	padding-left: 15px;
	padding-right: 10px;
	cursor: pointer;
}

.upload_img_overlap_visible {
	position: absolute;
	font-size: 11px;
	background-color: white;
	cursor: pointer;
	z-index: 900;
}

.float-left {
	float: left;
}

.grayed-out {
	opacity : 0.4;
	filter: alpha(opacity=40); /* msie */
}

#profile-img {
	float: left;
}

input {
	padding: 5px;
}

.sub-header {
	border-top: 1px solid #CCC;
	font-style: italic;
	font-size: 12px;
}

.small-text {
	font-size: 11px;
}

.tbox {position:absolute; display:none; z-index:999; margin: 0 auto; top: 10px !important; }
.tinner {padding:10px; background:#fff url('/assets/images/loading.gif') no-repeat 50% 50%;  border:2px solid #e3e3e3;}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:-5px; right:-15px; width:30px; height:30px; cursor:pointer; background:url('/assets/images/close.png') no-repeat}


/*
.tbox {position:absolute; display:none; padding:14px 17px; z-index:999;}
.tinner {padding:10px; background:#fff url('/assets/images/loading.gif') no-repeat 50% 50%;  border:10px solid #e3e3e3;}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:10px; right:0px; width:30px; height:30px; cursor:pointer; background:url('/assets/images/close.png') no-repeat}
*/
.close {
	position:absolute;
	top: -10px;
	right: -10px;
	z-index: 999;
	cursor:pointer;
}
#votebox
{
	border:solid 1px #dedede; 
	padding:3px;
	display:none;
	padding:15px;
	width: 400px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#greebar
{
	float:left;
	background-color:#aada37;
	border:solid 1px #698a14;
	width:0px;
	height:12px;
}
#redbar
{
	float:left;
	background-color:#cf362f;
	border:solid 1px #881811;
	width:0px;
	height:12px;
}
#close
{
	float:right; font-weight:bold; 
	padding:3px 5px 3px 5px; 
	border:solid 1px #333;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#register-box {
	z-index: 800;
}
#postbox{
	max-width: 380px;
}
.commentbox {
	width: 95%;
	min-width: 95%;
	resize: none;
}

.before-comment-img {
	padding-left: 4px;
	padding-right: 4px;
	float: left;
}
td {
	word-wrap: break-word;
}
.instant-msg-container {
	position: absolute;
	top: 0px;
	right: 0px;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
.instant-msg-bubble {
	position: relative;
	top: -5px;
	right: 0px;
	color: #fff;
	background-color: #000;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}
.expand {
	min-height: 20px;
}
.top-comment-container {
	margin-top: 7px;
}
.center {
	 position: relative; 
	 text-align:center;
	 display: block; 
	 margin-right: auto; 
	 margin-left: auto;
}
.post-container {
	position: relative;
	text-align: left;
	border-bottom: 1px solid #B9B9B9;
	padding: 2px;
	margin-bottom: 20px;
	z-index: 10;
}

.post-position {
	padding-bottom: 10px; 
	position: relative !important;
}

.post-container a.inside-text-href {
	color: #0000A0;
}

.relative-position {
	position: relative !important;
}

.absolute-position {
	position: absolute !important;
}


.sidebar-top-icons {
	position: relative;
	float: left;
	width: 60px;
}

.width-270 {
	width: 270px;
}

.width-88 {
	width: 88%;
}

.color-666 {
	color: #666;
}

.font-11 {
	font-size: 11px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.wordwrap-padding {
	word-wrap: break-word; 
	padding-top: 7px; 
	padding-bottom: 7px;
}

.wordwrap {
	word-wrap: break-word;
}

a:hover.inside-text-href {
	color: #7E2217;
	cursor: pointer;
	text-decoration: underline;
}

.post-text {
	text-align: left;
}

.mocrater-select {
	padding: 5px; 
	min-height: 110px; 
	max-height: 110px; 
	min-width: 347px !important;
	background-color: #efefef !important;
}

.mocrater-option {
	padding: 5px;
}

.no-user-select {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;   /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}

.space_10 {
	padding: 10px;
}
.space_20 {
	padding: 20px;
}
.space_30 {
	padding: 30px;
}
.space_40 {
	padding: 40px;
}

.single_comment_entity {
	background: #F5F5DC; /*#D7EFEF*/
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 1px;
}

.single_container {
	text-align: center;
	margin-bottom: 4px;
	border: 1px solid #B9B9B9;
}

/* table css */
.table {
	display: table;
}

.cell {
	display: table-cell;
	padding: 5px;
}
.all-borders { border: 1px solid gray; }
.border-top { border-top: 1px solid gray; }
.border-bottom { border-bottom: 1px solid gray; }
.border-left { border-left: 1px solid gray; }
.border-right { border-right: 1px solid gray; }

table.table1 {
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.table1 th {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	font-weight: bold;
	color: black;
	background-color: #D7EFEF;
}

table.table1 td {
	border-width: 1px;
	padding: 5px;
	min-width: 80px;
	max-width: 80px;
	border-style: inset;
	border-color: gray;
	background-color: rgb(255, 255, 240);
}

table.table1 td.col2 {
	border-width: 1px;
	padding: 5px;
	min-width: 80px;
	max-width: 80px;
	border-style: inset;
	border-color: gray;
	background-color: rgb(255, 255, 240);
}

table.table1 td.col1 {
	border-width: 1px;
	padding: 5px;
	min-width: 100px;
	max-width: 100px;
	border-style: inset;
	border-color: gray;
	background-color: rgb(255, 255, 240);
}
table.table1 .th {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	color: black;
	background-color: #D7EFEF;
}
table.table1 th.username { width: 140px; }
.sortable {
	border: 1px solid #ccc;
}
.sortable th, td {
	padding: 3px !important;
	margin-right: 2px !important;
}

.comment_profile_img {
	width: 32px;
	height: 32px;
}

.post_profile_img {
	width: 50px; 
	height: 50px;
}
.warning-box {
	padding: 5px;
	margin-bottom: 5px;
	border-style: solid;
	font-size: 0.9em;
	border-width: 1px;
	border-color: #FDD017;
	background-color: #FAF8CC;
	color: #000000;
}
/****************
 Begin pagination 
*****************/
div.pagination {
	position:absolute; 
	bottom:20px;
    margin-top: 10px;
}

div.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #AAAADD;
	background-color: #FFFFCC;
    text-decoration: none; /* no underline */
    color: #333;
}

div.pagination a:hover, div.pagination a:active {
	border: 1px solid #7E2217;
	background: #fff;
	color: #7E2217;
}

div.pagination-ajax {
    margin-top: 10px;
}

div.pagination-ajax a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #AAAADD;
	background-color: #FFFFCC;
    text-decoration: none; /* no underline */
    color: #333;
}

div.pagination-ajax a:hover, div.pagination-ajax a:active {
	border: 1px solid #7E2217;
	background: #fff;
	color: #7E2217;
}

/****************
 End pagination
*****************/

.twtr-tweet {
	border-bottom: 1px dotted #DDD;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	clear: both;
	overflow: hidden;
}

.world-top {
	position: relative;
	background-color: #9A3225;
	padding: 1px;
	padding-bottom: 10px;
	line-height: 20px;
	font-size: 13px;
	z-index: 2;
	overflow: auto;
	.border-radius(10px);
}

.world-top h4 {
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.top-twtr-tweet {
	position: relative;
	background-color: #9A3225;
	padding: 1px;
	z-index: 1;
	overflow: auto;
	.border-radius(10px);
}
.top-twtr-tweet a {
	color: white;
} 
.top-twtr-tweet h4 {
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.top-twtr-tweet h5 {
	color: white;
	font-weight: normal;
}
.twtr-container {
	padding: 5px;
	background-color: #fff;
	.border-radius(10px);
}
.twtr-container a {
	color: blue;
}

.twtr-profile-img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	float: left;
}
.normal {
	background: #fff; 
	color: #000; 
}
.normal a {
	color: #122061;
	text-decoration: none; 
}

.tiny-inner {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.profile-menu {
	padding: 5px;
	margin-right: 10px;
	color: #000;
	font-weight: bold;
}

.label-width1 {
	width: 60px;
}

.label-width2 {
	width: 130px;
}

/* Begin special user message overlay and box layout */
.overlay{
    background:transparent url('/assets/images/dim.png') repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.user-msg-box {
    position:fixed;
    top:30%;
	left:35%;
	width: 300px;
	display:none;
	background-color: #FFDDBB;
    padding:20px;
    border:2px solid #ccc;
    z-index:101;
	.border-radius(5px);
}

a.boxclose{
    float:right;
    width:20px;
    height:20px;
    background:transparent url('/assets/images/close.png') repeat top left;
    margin-top:-23px;
    margin-right:-23px;
    cursor:pointer;
}

.user-msg-box h1{
    color:#000;
}

.user-msg-success {
	background-color: #c7f7be;
	color: #000000;
}

.all-posts-news-container {
	overflow: auto;
	margin-bottom: 20px;
}

.all-posts-world {
	overflow: auto;
}

.all-posts {
	position: relative;
	background: #fff;
	z-index: 10;
}

#notification-list {
	display: none;
	position: absolute;
	padding: 3px;
	top: 30px;
	width: 300px;
	height: auto;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #ccc;
	background-color: #fff;
	-moz-box-shadow: 1px 2px 5px #888;
	-webkit-box-shadow: 1px 2px 5px #888;
	box-shadow: 1px 2px 5px #888;
	z-index: 999;
}

a.no-hover-color {
	color: #000;
}
a.no-hover-color:hover {
	color: #000;
}
.list-item:hover {
	color: #000;
	background-color: #ccc;
}

.list-item {
	color: #000;
}

.left-align {
	text-align: left;
}

.display-block {
	display: block;
}

.post-box {
	width: 100%;
	.box-sizing(border-box);
	resize: none; 
	float: left; 
	position: relative;
	z-index: 10; 
	margin-top: -1px;
}

.landing-post-container {
	position: relative;
	margin-top: -12px;
	background-color: #fff;
	border: 1px solid #4f7fe7; 
	padding: 10px;
	z-index: 4;
}

.about-image {
	height: 75px;
	border: 1px solid gray;
	padding: 3px;
	margin: 0px;
	font: inherit;
	vertical-align: baseline;
}

.about-image-container {
	margin-right: 20px;
}

.comment-position {
	position: relative;
	float: left;
	width: 100%;
}

#post-box-bottom {
	display: none;
	clear: both;
	padding-top: 4px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	height: 30px;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	background-color: beige;
}

#post-box-news-bottom {
	display: none;
	margin-top: -5px;
	padding-top: 4px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	height: 30px;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	background-color: beige;
}

/* Hycus Textarea */
/*css for ajax tabs*/
div.grippie {
	/*background:#EEEEEE scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;*/
	/*background-color: beige;
	display: none;
	width: 100%;
	cursor:s-resize;
	height:5px;
	overflow:hidden;*/
}

.resizable-textarea  {
	display:block;
	margin-bottom:0pt;
	max-width:99%;
}

.commentbox-container {
	display: none;
}

#filedrag {
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover {
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

#messages {
	padding: 0 10px;
	margin: 1em 0;
	border: 1px solid #999;
}

#progress p {
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("progress.png") 100% 0 repeat-y;
}

#progress p.success {
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed {
	background: #c00 none 0 0 no-repeat;
}
