/*#############################################################
Project: Minds of Chimera
Plugin MOCRater
Date: 03-04-2012
Description: CSS Layout
Author: Ross Arena
#############################################################*/

.stars-5{width:100px;height:20px;background:url('/assets/images/5-star-rating.png') 0px 0px; }
.stars-4{width:100px;height:20px;background:url('/assets/images/5-star-rating.png') 0px 90px; }
.stars-3{width:100px;height:20px;background:url('/assets/images/5-star-rating.png') 0px 65px; }
.stars-2{width:100px;height:20px;background:url('/assets/images/5-star-rating.png') 0px 40px; }
.stars-1{width:100px;height:20px;background:url('/assets/images/5-star-rating.png') 0px 20px; }

.menu-tab {
	position: relative;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	color: #fff;
	margin-right: 5px;
	font-weight: bold;
	z-index: 1;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

a:hover.menu-tab  {
	text-decoration: none;
	color: #fff;
} 
a:focus.menu-tab, a:active.menu-tab{
	text-decoration: none;
	outline: none;
	color: #fff;
}
