//
// Variables
// --------------------------------------------------
/* Multipliers: Use to scale sizes as desired */

@multiplier: 1.3;
@multiplierLarge: @multiplier * 2.1;
@multiplierSmall: @multiplier / @multiplierLarge;

@multiplierLargePercentage: @multiplierLarge * 10%;

/*Type*/
@baseFontSize: 16px;
@baseFontFamily: "Open Sans", "sans-serif", "arial";
@fontSizeSmall: percentage(1.1 / @multiplier);
@fontSizeMedium: percentage(1.2 / @multiplier);
@fontSizeLarge: percentage(@multiplier);
@fontSizeMini: percentage(1 / @multiplier);
@baseLineHeight: 1.4;
@em: 1em;
@line: @em * @baseLineHeight;
@baseFontWeight: 500;

@sansFontFamily: "Open Sans", Helvetica, Arial, sans-serif;
@serifFontFamily: Georgia, "Times New Roman", Times, serif;
@monoFontFamily: Monaco, Menlo, Consolas, "Courier New", monospace;


@baseFontFamily: @sansFontFamily;
@altFontFamily: @serifFontFamily;

@headingsFontFamily: inherit;
@headingsFontWeight: 300;
@headingsColour: inherit;

/*Grid*/
@num-cols: 12;
@rowWidth: 100%;
@container-lateral-padding: @em;
@col-margin-right: 3.8%;
@col-unit: ((@rowWidth + @col-margin-right) / @num-cols);
@col-identifier: "col";

@col-name-1: "one";
@col-name-2: "two";
@col-name-3: "three";
@col-name-4: "four";
@col-name-5: "five";
@col-name-6: "six";
@col-name-7: "seven";
@col-name-8: "eight";
@col-name-9: "nine";
@col-name-10: "ten";
@col-name-11: "eleven";
@col-name-12: "twelve";
@col-name-13: "thirteen";
@col-name-14: "fourteen";
@col-name-15: "fifteen";
@col-name-16: "sixteen";
@col-name-17: "seventeen";
@col-name-18: "eighteen";
@col-name-19: "nineteen";
@col-name-20: "twenty";
@col-name-21: "twentyone";
@col-name-22: "twentytwo";
@col-name-23: "twentythree";
@col-name-24: "twentyfour";

@col-identifier-named-numbers: false; //example(true): 3col; example(false): col3

@column-selector-number-at-end: false; //example(true): threecol; example(false): colthree

@container-max-width: 61em;

/* Basic measurements */

@padding: @em;
@paddingLarge: @padding * @multiplier;
@paddingSmall: @padding / @multiplier;
@paddingMini: @padding / @multiplierLarge;

@margin: @em;
@marginLarge: @margin * @multiplier;

@paddingPercentage: 6%;
@paddingSmallPercentage: 1.6%;
@paddingMiniPercentage: 0.3%;


@borderRadius: (@margin / @multiplierLarge);
@borderRadiusSmall: @borderRadius * 0.75;
@borderRadiusLarge: @borderRadius * @multiplier;

/* Transitions*/
@transitionTime: 0.5s;

/* =============================================================================
Colours
========================================================================== */
@textColour: #000;
@primaryColour: @textColour;
//colour of text and main colour overall
@secondaryColour: #DDD;
@tertiaryColour: #CCC;
@codeColour: lighten(@textColour, 60%);
//background colour.  Should be the opposite of primary colour for good results
@bodyBackgroundImage: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/subtle_dots.png");
@bodyBackgroundColour: negation(@textColour, #FFF); //inverse of text coliour

/* =============================================================================
CSS3 PIE settings
========================================================================== */
@pie: false; //enable support for IE6-8 via CSS3 PIE?
@pieDirectory: "PIE.htc";

/* =============================================================================
shadow
========================================================================== */
@shadow: 0 0 @marginLarge @textColour;

/* Transitions */
@transition-time: 0.5s;

/* =============================================================================
Buttons
========================================================================== */
@buttonPrimaryColour: darken(@primaryColour, 40%);
@buttonSecondaryColour: lighten(@buttonPrimaryColour, @multiplierLargePercentage);

/* =============================================================================
Borders
========================================================================== */
@borderStyle: ~"solid";
@borderWidth: 1px;
@borderColour: lighten(@textColour, 65%);
@border: @borderWidth @borderStyle @borderColour;

// Grays
// -------------------------
@black: #000;
@grayDarker: #222;
@grayDark: #333;
@gray: #555;
@grayLight: #999;
@grayLighter: #eee;
@white: #fff;

// Accent colours
// -------------------------
@blue: #049cdb;
@blueDark: #0064cd;
@green: #46a546;
@red: #9d261d;
@yellow: #ffc40d;
@orange: #f89406;
@pink: #c3325f;
@purple: #7a43b6;

// Links
// -------------------------
@linkColour: spin(lighten(@primaryColour, 50%), 100);
@linkColourHover: darken(@linkColour, 15%);
@linkColourVisited: spin(@linkColourHover, 10);

// Buttons
// -------------------------
@btnBackground: @bodyBackgroundColour;
@btnBackgroundHighlight: spin(@bodyBackgroundColour, 18);
@btnBorder: spin(@borderColour, 18);
@btnDarkTextColour: @textColour;
@btnLightTextColour: spin(@textColour, 180);

@btnPrimaryBackground: @linkColour;
@btnPrimaryBackgroundHighlight: spin(@btnPrimaryBackground, 20%);

@btnInfoBackground: @blue;
@btnInfoBackgroundHighlight: lighten(@btnInfoBackground, 40%);

@btnSuccessBackground: #62c462;
@btnSuccessBackgroundHighlight: #51a351;

@btnWarningBackground: lighten(@orange, 15%);
@btnWarningBackgroundHighlight: @orange;

@btnDangerBackground: #ee5f5b;
@btnDangerBackgroundHighlight: #bd362f;

@btnInverseBackground: #444;
@btnInverseBackgroundHighlight: @grayDarker;

// Form states and alerts
// -------------------------
@warningText: darken(@orange, 40%);
@warningBackground: lighten(@orange, 40%);
@warningBorder: darken(spin(@warningBackground, -10), 3%);

@errorText: darken(@red, 40%);
@errorBackground: lighten(@red, 40%);
@errorBorder: darken(spin(@errorBackground, -10), 3%);

@successText: darken(@green, 40%);
@successBackground: lighten(@green, 40%);
@successBorder: darken(spin(@successBackground, -10), 5%);

@infoText: darken(@blue, 40%);
@infoBackground: lighten(@blue, 40%);
@infoBorder: darken(spin(@infoBackground, -10), 7%);

@hintText: darken(@yellow, 40%);
@hintBackground: lighten(@yellow, 40%);
@hintBorder: darken(spin(#ad9400, -10), 7%);