/*
*
*  Golden Grid System (1.01)	<http://goldengridsystem.com/>
*  by Joni Korpi 				<http://jonikorpi.com/>
*  licensed under MIT			<http://opensource.org/licenses/mit-license.php>
*	
*/
/**/
/*------------------------------------------------------------------------------------------------------------------------

    Author: Sean Goresht
    www: https://seangoresht.com/
    github: https://github.com/srsgores

    twitter: http://twitter.com/S.Goresht

    Licensed under the GPL License
    Date: August 10, 2012

    ======================================
    File:  mixins.less
    ======================================
    This file will allows for more readable code.  Use these by placing the . operator with the selected class you would like to apply.
    Also, make sure to include this file: @include "mixins.less"

--------------------------------------------------------------------------------------------------------------------- */
/* Multipliers: Use to scale sizes as desired */
/*Type*/
/*Grid*/
/* Basic measurements */
/* Transitions*/
/* =============================================================================
Colours
========================================================================== */
/* =============================================================================
CSS3 PIE settings
========================================================================== */
/* =============================================================================
shadow
========================================================================== */
/* Transitions */
/* =============================================================================
Buttons
========================================================================== */
/* =============================================================================
Borders
========================================================================== */
/*@import "mixins.less";*/
/* =============================================================================
Site-wide rules
========================================================================== */
/*
.pie() when (@pie = true) {
	background: url('/assets/fixes/PIE.htc');
}
*/
.padding-fix {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Border Image */
/* Background Origin */
/* =============================================================================
Transitions and Transforms
========================================================================== */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  content: " ";
}
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/* =============================================================================
Fonts
========================================================================== */
.centred {
  text-align: center;
}
/*Grid*/
/*
*  Simple elastic gutters
*  Note: box-sizing WILL work in IE6-7
*/
.row {
  float: left;
  width: 100%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_36 {
  width: 100%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_36:last-child, .row .col_36.last {
  margin-right: 0;
}
.row .col_35 {
  width: 97.15555555555555%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_35:last-child, .row .col_35.last {
  margin-right: 0;
}
.row .col_34 {
  width: 94.3111111111111%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_34:last-child, .row .col_34.last {
  margin-right: 0;
}
.row .col_33 {
  width: 91.46666666666667%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_33:last-child, .row .col_33.last {
  margin-right: 0;
}
.row .col_32 {
  width: 88.62222222222222%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_32:last-child, .row .col_32.last {
  margin-right: 0;
}
.row .col_31 {
  width: 85.77777777777777%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_31:last-child, .row .col_31.last {
  margin-right: 0;
}
.row .col_30 {
  width: 82.93333333333334%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_30:last-child, .row .col_30.last {
  margin-right: 0;
}
.row .col_29 {
  width: 80.08888888888889%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_29:last-child, .row .col_29.last {
  margin-right: 0;
}
.row .col_28 {
  width: 77.24444444444444%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_28:last-child, .row .col_28.last {
  margin-right: 0;
}
.row .col_27 {
  width: 74.39999999999999%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_27:last-child, .row .col_27.last {
  margin-right: 0;
}
.row .col_26 {
  width: 71.55555555555556%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_26:last-child, .row .col_26.last {
  margin-right: 0;
}
.row .col_25 {
  width: 68.71111111111111%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_25:last-child, .row .col_25.last {
  margin-right: 0;
}
.row .col_24 {
  width: 65.86666666666666%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_24:last-child, .row .col_24.last {
  margin-right: 0;
}
.row .col_23 {
  width: 63.02222222222223%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_23:last-child, .row .col_23.last {
  margin-right: 0;
}
.row .col_22 {
  width: 60.177777777777784%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_22:last-child, .row .col_22.last {
  margin-right: 0;
}
.row .col_21 {
  width: 57.333333333333336%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_21:last-child, .row .col_21.last {
  margin-right: 0;
}
.row .col_20 {
  width: 54.488888888888894%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_20:last-child, .row .col_20.last {
  margin-right: 0;
}
.row .col_19 {
  width: 51.644444444444446%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_19:last-child, .row .col_19.last {
  margin-right: 0;
}
.row .col_18 {
  width: 48.800000000000004%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_18:last-child, .row .col_18.last {
  margin-right: 0;
}
.row .col_17 {
  width: 45.955555555555556%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_17:last-child, .row .col_17.last {
  margin-right: 0;
}
.row .col_16 {
  width: 43.111111111111114%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_16:last-child, .row .col_16.last {
  margin-right: 0;
}
.row .col_15 {
  width: 40.26666666666667%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_15:last-child, .row .col_15.last {
  margin-right: 0;
}
.row .col_14 {
  width: 37.422222222222224%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_14:last-child, .row .col_14.last {
  margin-right: 0;
}
.row .col_13 {
  width: 34.57777777777778%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_13:last-child, .row .col_13.last {
  margin-right: 0;
}
.row .col_12 {
  width: 31.733333333333334%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_12:last-child, .row .col_12.last {
  margin-right: 0;
}
.row .col_11 {
  width: 28.888888888888893%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_11:last-child, .row .col_11.last {
  margin-right: 0;
}
.row .col_10 {
  width: 26.044444444444448%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_10:last-child, .row .col_10.last {
  margin-right: 0;
}
.row .col_9 {
  width: 23.200000000000003%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_9:last-child, .row .col_9.last {
  margin-right: 0;
}
.row .col_8 {
  width: 20.355555555555558%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_8:last-child, .row .col_8.last {
  margin-right: 0;
}
.row .col_7 {
  width: 17.511111111111113%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_7:last-child, .row .col_7.last {
  margin-right: 0;
}
.row .col_6 {
  width: 14.666666666666666%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_6:last-child, .row .col_6.last {
  margin-right: 0;
}
.row .col_5 {
  width: 11.822222222222223%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_5:last-child, .row .col_5.last {
  margin-right: 0;
}
.row .col_4 {
  width: 8.977777777777778%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_4:last-child, .row .col_4.last {
  margin-right: 0;
}
.row .col_3 {
  width: 6.133333333333333%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_3:last-child, .row .col_3.last {
  margin-right: 0;
}
.row .col_2 {
  width: 3.288888888888889%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_2:last-child, .row .col_2.last {
  margin-right: 0;
}
.row .col_1 {
  width: 0.44444444444444464%;
  float: left;
  margin-right: 2.4%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col_1:last-child, .row .col_1.last {
  margin-right: 0;
}
.last {
  margin-right: 0 !important;
}
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*
*
*  Margin, padding, and border resets
*  except for form elements
*
*/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
/*
*
*  Consistency fixes
*  adopted from http://necolas.github.com/normalize.css/
*
*/
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  min-height: 100%;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
b,
strong {
  font-weight: bold;
}
abbr[title] {
  border-bottom: 1px dotted;
}
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
*
*  Simple fluid media
*
*/
figure {
  position: relative;
}
figure img,
figure object,
figure embed,
figure video {
  max-width: 100%;
  display: block;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/*
*
*	Zoomable baseline grid
*	type size presets
*
*/
body {
  /* 16px / 24px */

  font-size: 1em;
  line-height: 1.5em;
}
.small {
  /* 13px / 18px */

  font-size: 0.8125em;
  line-height: 1.3846153846153846em;
}
.normal,
h4 {
  /* 16px / 24px */

  font-size: 1em;
  line-height: 1.5em;
  /* 24 */

}
h3 {
  /* 26 / 36px */

  font-size: 1.25em;
  line-height: 1.5em;
}
.large,
h2,
h1 {
  /* 26 / 36px */

  font-size: 1.625em;
  line-height: 1.3846153846153846em;
}
.huge {
  /* 42px / 48px */

  font-size: 2.625em;
  line-height: 1.1428571428571428em;
}
.massive {
  /* 68px / 72px */

  font-size: 4.25em;
  line-height: 1.0588235294117647em;
}
.gigantic {
  /* 110px / 120px */

  font-size: 6.875em;
  line-height: 1.0909090909090908em;
}
/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/
header,
#twoway {
  margin: 0 5.555555555555555%;
}
h1,
h2 {
  margin: 0.15384615384615385em 0 0.46153846153846156em;
}
h2 {
  font-weight: normal;
}
h3 {
  margin: 0.75em 0 0.75em;
  font-weight: normal;
}
/*
*  Simple elastic gutters
*  Note: box-sizing will not work in IE6-7
*/
.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/
.ie body {
  width: 40em;
  margin: 0 auto;
  font-size: 1.0625em;
}
.ie h1 {
  /* 42px / 48px */

  font-size: 2.625em;
  line-height: 1.1428571428571428em;
  margin: 1.1428571428571428em 0 0.5714285714285714em;
}
/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
  
    font-size: 1.0625em;
  }
  h1 {
    /* 42px / 48px */
  
    font-size: 2.625em;
    line-height: 1.1428571428571428em;
  }
}
/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*	
*
*/
/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
  body {
    /* Reset baseline grid to 16/16 = 1 */
  
    font-size: 1em;
  }
  #twoway .wrapper {
    float: left;
    width: 50%;
  }
}
/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
  
    font-size: 1.0625em;
  }
}
/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
  
    font-size: 1em;
  }
  header,
  #twoway {
    margin: 0 16.666666666666664%;
  }
}
/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
  
    font-size: 1.0625em;
  }
}
/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
  
    font-size: 1em;
  }
  header,
  #twoway {
    margin: 0 27.77777777777778%;
  }
}
/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
  
    font-size: 1.0625em;
  }
}
/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
*	
*
*/
/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em) {
  header,
  #twoway {
    margin: 0 5.555555555555555%;
  }
  header .wrapper {
    width: 37.5%;
    margin-left: 25%;
  }
  #twoway .wrapper {
    width: 25%;
  }
  #twoway .wrapper:first-child {
    margin-left: 25%;
  }
}
/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em) {
  body {
    /* Zoom baseline grid to 18/16 = 1.125 */
  
    font-size: 1.125em;
    /* max-width: 2560/@em; */
  
  }
}
