﻿/*
 * Fluid24 Grid System
 * http://fluid24.org/
 *
 * Inspiration, modifications and fixes made from:
 * http://960.gs
 */
 
.container_24 {
  width: 100%;
}

/* fluid 24 99% */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24 {
  display: inline;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16,
.push_17, .pull_17,
.push_18, .pull_18,
.push_19, .pull_19,
.push_20, .pull_20,
.push_21, .pull_21,
.push_22, .pull_22,
.push_23, .pull_23 {
  position: relative;
}

/* (Alpha ~ First, Omega ~ Last) */
.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* fgrid 24 Columns 100/24 -1 */
.container_24 .grid_1  { width: 3.167%  ;}
.container_24 .grid_2  { width: 7.333%  ;}
.container_24 .grid_3  { width: 11.5%   ;}
.container_24 .grid_4  { width: 15.667% ;}
.container_24 .grid_5  { width: 19.833% ;}
.container_24 .grid_6  { width: 24%     ;}
.container_24 .grid_7  { width: 28.167% ;}
.container_24 .grid_8  { width: 32.333% ;}
.container_24 .grid_9  { width: 36.5%   ;}
.container_24 .grid_10 { width: 40.667% ;}
.container_24 .grid_11 { width: 44.833% ;}
.container_24 .grid_12 { width: 49%     ;}
.container_24 .grid_13 { width: 53.167% ;}
.container_24 .grid_14 { width: 57.333% ;}
.container_24 .grid_15 { width: 61.5%   ;}
.container_24 .grid_16 { width: 65.667% ;}
.container_24 .grid_17 { width: 69.833% ;}
.container_24 .grid_18 { width: 74%     ;}
.container_24 .grid_19 { width: 78.167% ;}
.container_24 .grid_20 { width: 82.333% ;}
.container_24 .grid_21 { width: 86.5%   ;}
.container_24 .grid_22 { width: 90.667% ;}
.container_24 .grid_23 { width: 94.833% ;}
.container_24 .grid_24 { width: 99%     ;}

/* Prefix Extra 100/24 */
.container_24 .prefix_1  { padding-left: 4.167%  ;}
.container_24 .prefix_2  { padding-left: 8.333%  ;}
.container_24 .prefix_3  { padding-left: 12.5%   ;}
.container_24 .prefix_4  { padding-left: 16.667% ;}
.container_24 .prefix_5  { padding-left: 20.833% ;}
.container_24 .prefix_6  { padding-left: 25%     ;}
.container_24 .prefix_7  { padding-left: 29.167% ;}
.container_24 .prefix_8  { padding-left: 33.333% ;}
.container_24 .prefix_9  { padding-left: 37.5%   ;}
.container_24 .prefix_10 { padding-left: 41.667% ;}
.container_24 .prefix_11 { padding-left: 45.833% ;}
.container_24 .prefix_12 { padding-left: 50%     ;}
.container_24 .prefix_13 { padding-left: 54.167% ;}
.container_24 .prefix_14 { padding-left: 58.333% ;}
.container_24 .prefix_15 { padding-left: 62.5%   ;}
.container_24 .prefix_16 { padding-left: 66.667% ;}
.container_24 .prefix_17 { padding-left: 70.833% ;}
.container_24 .prefix_18 { padding-left: 75%     ;}
.container_24 .prefix_19 { padding-left: 79.167% ;}
.container_24 .prefix_20 { padding-left: 83.333% ;}
.container_24 .prefix_21 { padding-left: 87.5%   ;}
.container_24 .prefix_22 { padding-left: 91.667% ;}
.container_24 .prefix_23 { padding-left: 95.833% ;}
.container_24 .prefix_24 { padding-left: 100%    ;}

/* Suffix Extra Space 100/24 */
.container_24 .suffix_1  { padding-right: 4.167%  ;}
.container_24 .suffix_2  { padding-right: 8.333%  ;}
.container_24 .suffix_3  { padding-right: 12.5%   ;}
.container_24 .suffix_4  { padding-right: 16.667% ;}
.container_24 .suffix_5  { padding-right: 20.833% ;}
.container_24 .suffix_6  { padding-right: 25%     ;}
.container_24 .suffix_7  { padding-right: 29.167% ;}
.container_24 .suffix_8  { padding-right: 33.333% ;}
.container_24 .suffix_9  { padding-right: 37.5%   ;}
.container_24 .suffix_10 { padding-right: 41.667% ;}
.container_24 .suffix_11 { padding-right: 45.833% ;}
.container_24 .suffix_12 { padding-right: 50%     ;}
.container_24 .suffix_13 { padding-right: 54.167% ;}
.container_24 .suffix_14 { padding-right: 58.333% ;}
.container_24 .suffix_15 { padding-right: 62.5%   ;}
.container_24 .suffix_16 { padding-right: 66.667% ;}
.container_24 .suffix_17 { padding-right: 70.833% ;}
.container_24 .suffix_18 { padding-right: 75%     ;}
.container_24 .suffix_19 { padding-right: 79.167% ;}
.container_24 .suffix_20 { padding-right: 83.333% ;}
.container_24 .suffix_21 { padding-right: 87.5%   ;}
.container_24 .suffix_22 { padding-right: 91.667% ;}
.container_24 .suffix_23 { padding-right: 95.833% ;}
.container_24 .suffix_24 { padding-right: 100%    ;}

/* sub fluid 24 100% */
.grid_sub_1,
.grid_sub_2,
.grid_sub_3,
.grid_sub_4,
.grid_sub_5,
.grid_sub_6,
.grid_sub_7,
.grid_sub_8,
.grid_sub_9,
.grid_sub_10,
.grid_sub_11,
.grid_sub_12,
.grid_sub_13,
.grid_sub_14,
.grid_sub_15,
.grid_sub_16,
.grid_sub_17,
.grid_sub_18,
.grid_sub_19,
.grid_sub_20,
.grid_sub_21,
.grid_sub_22,
.grid_sub_23,
.grid_sub_24{
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* sub fluid 24 grids 100% */
.container_24 .grid_sub_1  { width:2.25%  ;}
.container_24 .grid_sub_2  { width:6.5%   ;}
.container_24 .grid_sub_3  { width:10.75% ;}
.container_24 .grid_sub_4  { width:15%    ;}
.container_24 .grid_sub_5  { width:19.25% ;}
.container_24 .grid_sub_6  { width:23.5%  ;}
.container_24 .grid_sub_7  { width:27.75% ;}
.container_24 .grid_sub_8  { width:32%    ;}
.container_24 .grid_sub_9  { width:36.25% ;}
.container_24 .grid_sub_10 { width:40.5%  ;}
.container_24 .grid_sub_11 { width:44.75% ;}
.container_24 .grid_sub_12 { width:49%    ;}
.container_24 .grid_sub_13 { width:53.25% ;}
.container_24 .grid_sub_14 { width:57.5%  ;}
.container_24 .grid_sub_15 { width:61.75% ;}
.container_24 .grid_sub_16 { width:66%    ;}
.container_24 .grid_sub_17 { width:70.25% ;}
.container_24 .grid_sub_18 { width:74.5%  ;}
.container_24 .grid_sub_19 { width:78.75% ;}
.container_24 .grid_sub_20 { width:83%    ;}
.container_24 .grid_sub_21 { width:87.25% ;}
.container_24 .grid_sub_22 { width:91.5%  ;}
.container_24 .grid_sub_23 { width:95.75% ;}
.container_24 .grid_sub_24 { width:100%   ;}

.sub_alpha {
  margin-right: 1%;
}

.sub_omega {
  margin-left: 1%;
}

.sub_middle {
  margin-left: 1%;
  margin-right: 1%;
}

/* Push Space */
.container_24 .push_1  { left: 4.167%  ;}
.container_24 .push_2  { left: 8.333%  ;}
.container_24 .push_3  { left: 12.5%   ;}
.container_24 .push_4  { left: 16.667% ;}
.container_24 .push_5  { left: 20.833% ;}
.container_24 .push_6  { left: 25%     ;}
.container_24 .push_7  { left: 29.167% ;}
.container_24 .push_8  { left: 33.333% ;}
.container_24 .push_9  { left: 37.5%   ;}
.container_24 .push_10 { left: 41.667% ;}
.container_24 .push_11 { left: 45.833% ;}
.container_24 .push_12 { left: 50%     ;}
.container_24 .push_13 { left: 54.167% ;}
.container_24 .push_14 { left: 58.333% ;}
.container_24 .push_15 { left: 62.5%   ;}
.container_24 .push_16 { left: 66.667% ;}
.container_24 .push_17 { left: 70.833% ;}
.container_24 .push_18 { left: 75%     ;}
.container_24 .push_19 { left: 79.167% ;}
.container_24 .push_20 { left: 83.333% ;}
.container_24 .push_21 { left: 87.5%   ;}
.container_24 .push_22 { left: 91.667% ;}
.container_24 .push_23 { left: 95.833% ;}
.container_24 .push_24 { left: 100%    ;}

/* Pull Space */
.container_24 .pull_1  { left: -4.167%  ;}
.container_24 .pull_2  { left: -8.333%  ;}
.container_24 .pull_3  { left: -12.5%   ;}
.container_24 .pull_4  { left: -16.667% ;}
.container_24 .pull_5  { left: -20.833% ;}
.container_24 .pull_6  { left: -25%     ;}
.container_24 .pull_7  { left: -29.167% ;}
.container_24 .pull_8  { left: -33.333% ;}
.container_24 .pull_9  { left: -37.5%   ;}
.container_24 .pull_10 { left: -41.667% ;}
.container_24 .pull_11 { left: -45.833% ;}
.container_24 .pull_12 { left: -50%     ;}
.container_24 .pull_13 { left: -54.167% ;}
.container_24 .pull_14 { left: -58.333% ;}
.container_24 .pull_15 { left: -62.5%   ;}
.container_24 .pull_16 { left: -66.667% ;}
.container_24 .pull_17 { left: -70.833% ;}
.container_24 .pull_18 { left: -75%     ;}
.container_24 .pull_19 { left: -79.167% ;}
.container_24 .pull_20 { left: -83.333% ;}
.container_24 .pull_21 { left: -87.5%   ;}
.container_24 .pull_22 { left: -91.667% ;}
.container_24 .pull_23 { left: -95.833% ;}
.container_24 .pull_24 { left: -100%    ;}

/* Clear Floated Elements */
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */