/*
	Variable Grid System (Fluid Version).
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

	Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.container_48 {
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24,
.grid_25,
.grid_26,
.grid_27,
.grid_28,
.grid_29,
.grid_30,
.grid_31,
.grid_32,
.grid_33,
.grid_34,
.grid_35,
.grid_36,
.grid_37,
.grid_38,
.grid_39,
.grid_40,
.grid_41,
.grid_42,
.grid_43,
.grid_44,
.grid_45,
.grid_46,
.grid_47,
.grid_48 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}

.no-margin {
	margin: 0px !important;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 48 Columns
----------------------------------------------------------------------------------------------------*/


.container_48 .grid_1 {
	width:0.083%;
}

.container_48 .grid_2 {
	width:2.167%;
}

.container_48 .grid_3 {
	width:4.25%;
}

.container_48 .grid_4 {
	width:6.333%;
}

.container_48 .grid_5 {
	width:8.417%;
}

.container_48 .grid_6 {
	width:10.5%;
}

.container_48 .grid_7 {
	width:12.583%;
}

.container_48 .grid_8 {
	width:14.667%;
}

.container_48 .grid_9 {
	width:16.75%;
}

.container_48 .grid_10 {
	width:18.833%;
}

.container_48 .grid_11 {
	width:20.917%;
}

.container_48 .grid_12 {
	width:23.0%;
}

.container_48 .grid_13 {
	width:25.083%;
}

.container_48 .grid_14 {
	width:27.167%;
}

.container_48 .grid_15 {
	width:29.25%;
}

.container_48 .grid_16 {
	width:31.333%;
}

.container_48 .grid_17 {
	width:33.417%;
}

.container_48 .grid_18 {
	width:35.5%;
}

.container_48 .grid_19 {
	width:37.583%;
}

.container_48 .grid_20 {
	width:39.667%;
}

.container_48 .grid_21 {
	width:41.75%;
}

.container_48 .grid_22 {
	width:43.833%;
}

.container_48 .grid_23 {
	width:45.917%;
}

.container_48 .grid_24 {
	width:48.0%;
}

.container_48 .grid_25 {
	width:50.083%;
}

.container_48 .grid_26 {
	width:52.167%;
}

.container_48 .grid_27 {
	width:54.25%;
}

.container_48 .grid_28 {
	width:56.333%;
}

.container_48 .grid_29 {
	width:58.417%;
}

.container_48 .grid_30 {
	width:60.5%;
}

.container_48 .grid_31 {
	width:62.583%;
}

.container_48 .grid_32 {
	width:64.667%;
}

.container_48 .grid_33 {
	width:66.75%;
}

.container_48 .grid_34 {
	width:68.833%;
}

.container_48 .grid_35 {
	width:70.917%;
}

.container_48 .grid_36 {
	width:73.0%;
}

.container_48 .grid_37 {
	width:75.083%;
}

.container_48 .grid_38 {
	width:77.167%;
}

.container_48 .grid_39 {
	width:79.25%;
}

.container_48 .grid_40 {
	width:81.333%;
}

.container_48 .grid_41 {
	width:83.417%;
}

.container_48 .grid_42 {
	width:85.5%;
}

.container_48 .grid_43 {
	width:87.583%;
}

.container_48 .grid_44 {
	width:89.667%;
}

.container_48 .grid_45 {
	width:91.75%;
}

.container_48 .grid_46 {
	width:93.833%;
}

.container_48 .grid_47 {
	width:95.917%;
}

.container_48 .grid_48 {
	width:98.0%;
}


/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
