<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
    	{% block title %}<title>Minds of Chimera</title>{% endblock title %}
    	{% include '_blocks/header.html.twig' %}
        {% block head %}{% endblock head %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ site_url('assets/scripts/less-1.3.3.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
		{% block layout %}{% endblock layout %}

		{% block javascripts %}

	        <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
			<script type="text/javascript">
				var site_url = "{{ site_url() }}";
				var users_end = "{% if session['playerCount'] is defined %}{{ session['playerCount'] }}{% endif %}";
				var user_posts_end = "{% if session['userPostsCount'] is defined %}{{ session['userPostsCount'] }}{% endif %}";
				{% if owner is defined %}var user = "{{ owner }}";{% endif %}
		
				var ownerPage = "{% if orig_owner is defined %}{{ orig_owner }}{% endif %}";
			</script>
		
			<script type="text/javascript" src="{{ site_url('assets/scripts/cache.js') }}"></script>
			<script type="text/javascript">
				var $j = jQuery.noConflict();
			</script>
			{% if scripts is defined %}
			{% for path in scripts %}
				<script type="text/javascript" src="{{ site_url(path) }}"></script>
			{% endfor %}
			{% endif %}
			<script type="text/javascript" src="{{ site_url('misc/popup/popup.js') }}"></script>
			<script type="text/javascript" src="{{ site_url('assets/scripts/chimera.js') }}"></script>
			<script type="text/javascript" src="{{ site_url('assets/scripts/waypoints.min.js') }}"></script>
		
			{% if inline_scripts is defined %}
				<script type="text/javascript">
					$j(function(){
						{% for script in inline_scripts %}
							{{ script }}
						{% endfor %}
					});
				</script>
			{% endif %}
		
			<script type="text/javascript"><!--//--><![CDATA[//><!-
			/* prevents errors if angled brackets are found */
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-31885190-1']);
			  _gaq.push(['_trackPageview']);
		
			  (function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			//--><!]]>
			</script>
		
			<script type="text/javascript"><!--//--><![CDATA[//><!-
			/* prevents errors if angled brackets are found */
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-34330432-1']);
			  _gaq.push(['_trackPageview']);
		
			//--><!]]>
			</script>
        
        {% endblock javascripts %}
    </body>
</html>