{% block footer %}
<div class="clearfix">
	<div class="row">
		<div class="col_36">
			<div id="footer">
				<div id="inside-footer">
					<div id="footer-inner-top" class="clearfix">
						<div class="float-left">
							<img src="{{ site_url('assets/images/MOC_title_tiny.png') }}" alt="Minds of Chimera logo" />
						</div>
						<div class="float-right">
							<div class="arrow-up float-left"></div><a class="go-top float-left">Back to top</a>
						</div>
					</div>
					<div id="footer-inner-bottom" class="clearfix">
						<div class="float-left"><p>Copyright &copy; {{ "now"|date("Y") }} ISUE. All rights reserved UCF.<br />
							Developed by <a href="http://rossarena.com">Ross Arena</a>
						</div>
						<div class="float-right">
							<a href="http://nsf.gov"><img src="{{ site_url('assets/images/nsf_logo_small.png') }}" alt="nsf logo" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock footer %}