{% block head %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Minds of Chimera - One of the most advanced Minecraft servers available. Multiple developers are currently creating new ways to play Minecraft. This server is about creativity and advancing the Minecraft styles of play. Be a part of it." /> 
<meta name="keywords" content="Minds of Chimera, minecraft, minecraft research, isue lab, ucf, minecraft server, interactive games" /> 
<meta name="author" content="Ross Arena" />
<meta name="robots" content="index, follow" /> 
<meta name="googlebot" content="index, follow" /> 

<link rel="shortcut icon" href="{{ site_url('favicon.ico') }}" />
<link rel="stylesheet" type="text/css" href="{{ site_url('assets/css/reset.css') }}" media="all" />
<link rel="stylesheet" type="text/css" href="{{ site_url('assets/css/GGS.css') }}" media="all" />
<link rel="stylesheet/less" type="text/css" href="{{ site_url('assets/less/default-style.less') }}" media="all" />

{% if css is defined %}
{% for path in css %}
	{% if path is iterable %}
		{% for path in inner_path %}
			<link rel="stylesheet" type="text/css" href="{{ site_url(inner_path) }}" media="all" />
		{% endfor %}
	{% else %}
		<link rel="stylesheet" type="text/css" href="{{ site_url(path) }}" media="all" />
	{% endif %}
{% endfor %}
{% endif %}
{% endblock head %}