<br /><br />
<div class="login-box clearfix">
	{% if login_failed is defined %}
		<div id="login-result"><div class="error-box">Incorrect username or password</div></div>
	{% endif %}
	{% if user_banned is defined %}
		<div id="login-result">
			<div class="error-box">
				<b>This account has been temporarily banned.</b> Confused why? 
				Read our <a href="{{ site_url('rules') }}" style="text-decoration: underline;">Rules of Conduct</a> page.
			</div>
		</div>
	{% endif %}
	<form method="post" id="login-form" action="{{ site_url('reg/login') }}" class="wp-user-form">
		<input type="text" name="login[username]" placeholder="Username or Email" id="user_login" tabindex="1" autocomplete="on" title="Username or email" size="36" style="margin-bottom: 4px; width: 285px;" required /><br />
		<input type="password" name="login[password]" placeholder="Password" value="" class="float-left" size="18" id="user_pass" tabindex="2" autocomplete="on" title="Password" style="width: 170px;" required />
		<input type="submit" name="user-submit" class="float-left" value="Log In" tabindex="3" style="margin-left: 4px;" />
		<div class="clear"></div><br />
		<div class="float-left" style="font-size: 11px; color: gray;">
			<input type="checkbox" name="login[autologin]" checked="checked" style="margin-top: 2px;" />
			&nbsp;Keep me logged in&nbsp;&#183;&nbsp;
			<a href="{{ site_url('forgot') }}">Forgot password?</a>
		</div>
	</form>
</div><br />
<div class="clearfix">
	<div class="signup-space">
		<div class="float-left">
			<h2 class="float-left">New here?</h2>
			<div class="float-left" style="margin-left: 20px; margin-top: 10px;"><a href="{{ site_url('register') }}" class="signup-btn button">Sign Up</a></div>
			<br /><br />
		</div>
		<div class="clear"></div>
		<div style="width: 120px;" class="lb-dotted"></div><br />
		Or Read about us first <a href="{{ site_url('research') }}"><b>Here</b></a>
		<div class="space_20"></div>
	</div>
</div>
	
</div>